@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: LocalLibreBaskerville;
    src: url('/fonts/LibreBaskerville-Regular.ttf');
    font-weight: 400;
  }

  @font-face {
    font-family: LocalLibreBaskerville;
    src: url('/fonts/LibreBaskerville-Bold.ttf');
    font-weight: 700;
  }

  @font-face {
    font-family: LocalQuicksand;
    src: url('/fonts/Quicksand-Regular.ttf');
    font-weight: 400;
  }

  @font-face {
    font-family: LocalQuicksand;
    src: url('/fonts/Quicksand-Bold.ttf');
    font-weight: 700;
  }
}

body {
  @apply mt-24;
  @apply font-quicksand;
}

/* Navbar burger button------------------------------------------------------ */
#hamburger-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#hamburger-button:before {
  content: '';
  transition: 1.2s cubic-bezier(0, 0.96, 1, 0.02) background-color;
}

#hamburger-button div {
  position: relative;
  top: 0;
  height: 3px;
  margin-bottom: 4px;
  transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width, 0.3s ease right;
  border-radius: 2px;
}

#hamburger-button div:first-child {
  transform-origin: 0;
}

#hamburger-button div:last-child {
  margin-bottom: 0;
  transform-origin: 24px;
}

#hamburger-button div:nth-child(2) {
  right: 0;
  width: 20px;
}

.burger-animation-1 {
  top: 0px;
  right: -3px;
  transform: rotateZ(45deg);
}

.burger-animation-2 {
  width: 20px;
  top: 0px;
  right: 0px;
  transform: rotateZ(-45deg);
}

.burger-animation-3 {
  opacity: 0;
}

/* HomeHero Slider bullets indicators -----------------------------------------------*/
#header-hero > div > .swiper-pagination > .swiper-pagination-bullet {
  @apply bg-white;
  opacity: 0.3;
  height: 0.5rem;
  width: 0.5rem;
  transition: 0.8s;
}
#header-hero > div > .swiper-pagination > .swiper-pagination-bullet-active {
  @apply bg-white;
  opacity: 1;
  transition: 0.8s;
}

@media (min-width: 768px) {
  #header-hero > div > .swiper-pagination {
    margin-bottom: 0.75rem;
  }

  @media (min-width: 1024px) {
    #header-hero > div > .swiper-pagination {
      margin-bottom: 1.6rem;
    }
  }

  #header-hero > div > .swiper-pagination > .swiper-pagination-bullet {
    @apply bg-white;
    height: 0.9rem;
    width: 0.9rem;
  }
}

/* HomeHero banner text animation-------------------------------------------- */
.swiper-slide-active > #home-slide-text {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 150ms;
  -webkit-animation-delay: 150ms;
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* Categories Slider in Home------------------------------------------------------ */
#slider .swiper-button-next,
#slider .swiper-button-prev,
#slider .swiper-button-next::after,
#slider .swiper-button-prev::after {
  color: black;
  font-size: 30px;
  font-weight: bolder;
  top: 40%;
}

#slider .swiper-button-prev {
  position: absolute;
  left: 0px;
}
#slider .swiper-button-next {
  right: 0px;
}

#slider .swiper {
  margin: 0 20px;
  padding-bottom: 60px;
}

/* ProductImageGallery------------------------------------------------------- */
/* Slider Images */

#product-gallery > div.image-gallery {
  width: 100%;
  height: fit-content;
  display: grid;
  place-content: center;
}

#product-gallery .image-gallery-slide img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  overflow: hidden;
  object-position: center center;
}

/* Thumbnails */
#product-gallery .image-gallery-thumbnails-container {
  display: grid;
  place-content: start;
}

#product-gallery .image-gallery-thumbnail {
  margin-bottom: 20px;
  width: auto;
  opacity: 0.4;
  transition: ease 800ms;
  border: none;
}

#product-gallery .image-gallery-thumbnails {
  width: 80px;
}

#product-gallery .image-gallery-thumbnail-image {
  width: 65px;
  height: 65px;
  object-fit: cover;
  object-position: center center;
}

#product-gallery .image-gallery-thumbnail:hover {
  border: none;
}

#product-gallery .image-gallery-thumbnail.active {
  border: none;
  opacity: 1;
}

#product-gallery .image-gallery-thumbnail:hover {
  opacity: 1;
}

/* Fullscreen mode */
#product-gallery .image-gallery-content.left.fullscreen {
  width: 100%;
  height: 600px;
  display: grid;
  place-content: center;
}

#product-gallery .image-gallery-content.left.fullscreen .image-gallery-image {
  height: max-content;
}

#product-gallery .image-gallery-content.left.fullscreen .image-gallery-slide-wrapper.left {
  width: 100vw;
}

#product-gallery .image-gallery-content.left.fullscreen .image-gallery-thumbnails {
  display: none;
}



/* Media Queries------------------------------------------------------- */
@media (min-width: 375px) {
  #product-gallery .image-gallery-slide img {
    height: 360px;
  }
  #slider .swiper {
    margin: 0;
  }
  #slider .swiper-button-next,
  #slider .swiper-button-prev,
  #slider .swiper-button-next::after,
  #slider .swiper-button-prev::after {
    font-size: 20px;
  }
}

@media (min-width: 640px) {
  #product-gallery .image-gallery-slide img {
    height: 410px;
  }
}

@media (min-width: 768px) {
  #product-gallery .image-gallery-content.left.fullscreen .image-gallery-slide-wrapper.left {
    width: 70vw;
  }
  #slider .swiper-button-next,
  #slider .swiper-button-prev,
  #slider .swiper-button-next::after,
  #slider .swiper-button-prev::after {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  #product-gallery .image-gallery-slide img {
    height: 460px;
  }

  #product-gallery .image-gallery-content.left.fullscreen .image-gallery-slide-wrapper.left {
    width: 60vw;
  }
}

@media (min-width: 1200px) {
  #product-gallery .image-gallery-slide img {
    height: 600px;
  }

  #product-gallery .image-gallery-content.left.fullscreen .image-gallery-slide-wrapper.left {
    width: 50vw;
  }
}

/* Remove appearance from input for product detail */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
