@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply mt-24;
}

/* Navbar links-------------------------------------------------------------- */
.menu-link:active,
.menu-link:focus-visible,
.menu-link:focus-within,
.menu-link:target {
  background-color: transparent;
  background: none;
  text-decoration: none;
  box-shadow: none;
}

@media (min-width: 1024px) {
  .menu-link:focus {
    border: #b6da40 solid 2px;
    border-radius: 8px;
    padding: 6px 14px 6px 10px;
  }
}

/* Navbar burger button------------------------------------------------------ */
#hamburger-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#hamburger-button:before {
  content: '';
  transition: 1.2s cubic-bezier(0, 0.96, 1, 0.02) background-color;
}

#hamburger-button div {
  position: relative;
  top: 0;
  height: 3px;
  margin-bottom: 4px;
  transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width, 0.3s ease right;
  border-radius: 2px;
}

#hamburger-button div:first-child {
  transform-origin: 0;
}

#hamburger-button div:last-child {
  margin-bottom: 0;
  transform-origin: 24px;
}

#hamburger-button div:nth-child(2) {
  right: 0;
  width: 20px;
}

.burger-animation-1 {
  top: 0px;
  right: -3px;
  transform: rotateZ(45deg);
}

.burger-animation-2 {
  width: 20px;
  top: 0px;
  right: 0px;
  transform: rotateZ(-45deg);
}

.burger-animation-3 {
  opacity: 0;
}

/* HomeHero bullets indicators -----------------------------------------------*/
#header-hero > div > .swiper-pagination > .swiper-pagination-bullet {
  @apply bg-primary;
  opacity: 0.3;
  height: 0.5rem;
  width: 0.5rem;
  transition: 0.8s;
}
#header-hero > div > .swiper-pagination > .swiper-pagination-bullet-active {
  @apply bg-primary;
  opacity: 1;
  transition: 0.8s;
}

@media (min-width: 768px) {
  #header-hero > div > .swiper-pagination {
    margin-bottom: 0.75rem;
  }

  @media (min-width: 1024px) {
    #header-hero > div > .swiper-pagination {
      margin-bottom: 1.6rem;
    }
  }

  #header-hero > div > .swiper-pagination > .swiper-pagination-bullet {
    @apply bg-primary;
    height: 0.9rem;
    width: 0.9rem;
  }
}

/* HomeHero banner text animation-------------------------------------------- */
.swiper-slide-active > #home-slide-text {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 150ms;
  -webkit-animation-delay: 150ms;
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    visibility: visible;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* HomeHero banner text------------------------------------------------------ */
.text-slide-shadow {
  text-shadow: 0px 0px 20px #000000, 0px 0px 20px #000000, 0px 0px 6px #000000;
}

#slider .swiper-button-next,
#slider .swiper-button-prev,
#slider .swiper-button-next::after,
#slider .swiper-button-prev::after {
  color: white;
  font-size: 25px;
  font-weight: bolder;
}
