@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --primary-color: #cced60;
  --secondary-color: #b6da40;
  --background-color: #ffffff;
  --secondary-background-color: #142644;
  --light-color: #ffffff;
  --dark-color: #142644;
  --secondary-dark-color: #38c385;
  --gray-scale-color: #929a92;
  --secondary-gray-scale-color: #c7c7c7;

  --overlay-background: var(--primary-color);
  --gradient-background: linear-gradient(114.44deg, #cced60 34.38%, #7acea9 124.9%);
}

.mobile-menu {
  transition: ease 4s;
}

/* Navbar links--------------------------------------- */
.menu-link:active,
.menu-link:focus-visible,
.menu-link:focus-within,
.menu-link:target {
  background-color: transparent;
  background: none;
  text-decoration: none;
  box-shadow: none;
}

@media (min-width: 1024px) {
  .menu-link:focus {
    border: #b6da40 solid 2px;
    border-radius: 8px;
    padding: 6px 14px 6px 10px;
  }
}

/* Navbar burger button--------------------------------------- */
#menu_checkbox {
  display: none;
}

label {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

label:before {
  content: '';
  transition: 1.2s cubic-bezier(0, 0.96, 1, 0.02) background-color;
}

label div {
  position: relative;
  top: 0;
  height: 3px;
  background-color: #fff;
  margin-bottom: 4px;
  transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width, 0.3s ease right;
  border-radius: 2px;
}

label div:first-child {
  transform-origin: 0;
}

label div:last-child {
  margin-bottom: 0;
  transform-origin: 24px;
}

label div:nth-child(2) {
  right: 0;
  width: 20px;
}

#menu_checkbox:checked + label div:first-child {
  top: 0px;
  right: -3px;
  transform: rotateZ(45deg);
}

#menu_checkbox:checked + label div:last-child {
  opacity: 0;
}

#menu_checkbox:checked + label div:nth-child(2) {
  width: 20px;
  top: 0px;
  right: 0px;
  transform: rotateZ(-45deg);
}
