@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --primary-color: #cced60;
  --secondary-color: #b6da40;
  --background-color: #ffffff;
  --secondary-background-color: #142644;
  --light-color: #ffffff;
  --dark-color: #142644;
  --secondary-dark-color: #38c385;
  --gray-scale-color: #929a92;
  --secondary-gray-scale-color: #c7c7c7;

  --overlay-background: var(--primary-color);
  --gradient-background: linear-gradient(114.44deg, #cced60 34.38%, #7acea9 124.9%);
}